/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@import "phoenix-colocated/antiquar/colocated.css";
@source "../css";
@source "../js";
@source "../../lib/antiquar_web";
/* Required for Tailwind to automatically pick up changes in colocated CSS files in dev */
@source "../../_build/dev/phoenix-colocated/antiquar/*/";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session], [data-phx-teleported-src] { display: contents }

/* This file is for your main application CSS */

.catalog-input {
  width: 100%;
  border: 1px solid rgb(110 138 124);
  background: rgb(255 255 255 / 0.96);
  color: rgb(28 51 40);
  padding: 0.55rem 0.7rem;
}

.filter-input {
  width: 100%;
  border: 1px solid rgb(214 211 209);
  background: white;
  color: rgb(41 37 36);
  padding: 0.55rem 0.7rem;
}
